.boton {
    position: relative ;
    cursor: pointer ;
    width: 2em ;
    float: left ;
    margin: 5px ;
}

.seccion form {
    margin: auto ;
}

form > ul {
    width: 30% ;
    margin: auto ;
    padding-top: 5px ;
    padding-bottom: 5px ;
    border: 4px solid #004242 ;
}

form > ul > li {
    font-size: 1em ;
    list-style: none ;
    padding: 5px ;
}

form > ul > li > input, select {
    margin-left: 25px ;
    padding: 5px ;
    border: 2px solid #CFCFC4 ;
    -webkit-transition: border-color 0.4s, color 0.4s ;
	        transition: border-color 0.4s, color 0.4s ;
}

form > ul > li > label {
    display: block ;
    padding: 2px ;
    text-transform: uppercase;
}

form > ul > li > input:hover, :focus, select:hover, :focus, input:hover, :focus {
    border-color: #37474f ;
}

input {
    margin: 5px ;
    margin-left: 15px ;
    padding: 5px ;
    border: 2px solid #CFCFC4 ;
    -webkit-transition: border-color 0.4s, color 0.4s ;
	        transition: border-color 0.4s, color 0.4s ;
}