{% extends 'base.html' %}

{% block static %}
    <link rel="stylesheet" href="../static/css/tabla.css">
    <link rel="stylesheet" href="../static/css/form.css">
{% endblock %}

{% block titulo %}
Ajustes
{% endblock %}

{% block menu %}
  {% include 'menu.html' %}
{% endblock %}

{% block contenido %}
   <div id="catalogo">
    <table>
        <caption>Hoja de trabajo</caption>
        <tr>
            <th>Cuenta</th>
            <th colspan="2">Balance de Comprobacion</th>
            <th colspan="2">Balance de Comprobacion Ajustado</th>
            <th colspan="2">Estado Resultado</th>
            <th colspan="2">Estado de Capital</th>
            <th colspan="2">Balance General</th>
        </tr>
        <tr>
            <th></th>
            <th>Debe</th>
            <th>Haber</th>
            <th>Debe</th>
            <th>Haber</th>
            <th>Debe</th>
            <th>Haber</th>
            <th>Debe</th>
            <th>Haber</th>
            <th>Debe</th>
            <th>Haber</th>
        </tr>
        {% for c in comprobacion %}
            <tr>
                <td>{{c.nombreCuenta}}</td>
                <td>{{c.haber}}</td>
                <td>{{c.debe}}</td>
                <!-- Balance de comprobacion ajustado -->
                {% for t in transaccion %}
                    {% for cu in cuenta %}
                        {% if cu.id == t.cuenta_id %}
                            {% if cu.nom_cuenta == c.nombreCuenta %}
                                {% if t.tipoMonto_id == 1 %}
                                    <td>{{t.monto}}</td>
                                    <td></td>
                                {% endif %}
                                {% if t.tipoMonto_id == 2 %}
                                    <td></td>
                                    <td>{{t.monto}}</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <!-- Estado de Resultado -->
                {% for t in transaccion %}
                    {% for r in resultados %}
                        {% if t.cuenta_id == r.id %}
                            {% if r.nom_cuenta == c.nombreCuenta %}
                                {% if t.tipoMonto_id == 1 %}
                                    <td>{{t.monto}}</td>
                                    <td></td>
                                {% endif %}
                                {% if t.tipoMonto_id == 2 %}
                                    <td></td>
                                    <td>{{t.monto}}</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <td></td>
                <td></td>
                <!-- Estado Capital -->
                {% for t in transaccion %}
                    {% for ca in capitales %}
                        {% if t.cuenta_id == ca.id %}
                            {% if ca.nom_cuenta == c.nombreCuenta %}
                                {% if t.cuenta_id == ca.id %}
                                    {% if t.tipoMonto_id == 1 %}
                                        <td>{{t.monto}}</td>
                                        <td></td>
                                    {% endif %}
                                    {% if t.tipoMonto_id == 2 %}
                                        <td></td>
                                        <td>{{t.monto}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <td></td>
                <td></td>
                <!-- Balance genral -->
                {% for t in transaccion %}
                    {% for a in activos %}
                        {% if t.cuenta_id == a.id %}
                           {% if a.nom_cuenta == c.nombreCuenta %}
                                {% if t.tipoMonto_id == 1 %}
                                    <td>{{t.monto}}</td>
                                    <td></td>
                                {% endif %}
                                {% if t.tipoMonto_id == 2 %}
                                    <td></td>
                                    <td>{{t.monto}}</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% for p in pasivos %}
                        {% if t.cuenta_id == p.id %}
                            {% if p.nom_cuenta == c.nombreCuenta %}
                                {% if t.tipoMonto_id == 1 %}
                                    <td>{{t.monto}}</td>
                                    <td></td>
                                {% endif %}
                                {% if t.tipoMonto_id == 2 %}
                                    <td></td>
                                    <td>{{t.monto}}</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td>Utilidad</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% if habere == 1 %}
                <td></td>
                <td>{{saldo}}</td>
                <td></td>
                <td>{{saldo}}</td>
            {% endif %}
            {% if habere == 2 %}
                <td>{{saldo}}</td>
                <td></td>
                <td>{{saldo}}</td>
                <td></td>
            {% endif %}
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Capital contable</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% if haberca == 1 %}
                <td></td>
                <td>{{cap}}</td>
                <td></td>
                <td>{{cap}}</td>
            {% endif %}
            {% if haberca == 2 %}
                <td>{{cap}}</td>
                <td></td>
                <td>{{cap}}</td>
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>{{m1}}</strong></td>
            <td><strong>{{m2}}</strong></td>
            <td><strong>{{m3}}</strong></td>
            <td><strong>{{m4}}</strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong>{{cargo}}</strong></td>
            <td><strong>{{abono}}</strong></td>
        </tr>
    </table>
<br>
</div>
<form action="/ajustes/" method="post">{% csrf_token %}
    <textarea style="display: none;" id="cod" name="cod"></textarea>
    <input type="submit"  value="Guardar y Terminar con ajustes" id="guardar" name="guardar">
</form>
{% endblock %}
