<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset='utf-8'>
	<title>BlackJack -{% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
	<style type="text/css">
	

	
	</style>

	
	</head>	
<body>
	<header>
	
	

	{% block encabezado %} {% endblock %}
	
		
		<hr>
		</header>
		<section class='contenido'>
		<div class="well">
			{% block contenido %}{% endblock %}
			</div>
		</section>
		<footer>
		
		</footer>		
</body>

</html>