{% extends 'base.html' %}

{% block static %}
    <link rel="stylesheet" href="../static/css/tabla.css">
{% endblock %}

{% block titulo %}
    Estado de Capital
{% endblock %}

{% block menu %}
  {% include 'menu.html' %}
{% endblock %}T
{% block contenido %}
    <table>
       <caption>Estado de Capital</caption>
        <tr>
            <th>Nombre</th>
            <th>Debe</th>
            <th>Haber</th>
        </tr>
        {% for t in transaccion %}
            <tr>
                {% for c in cuenta %}
                    {% if t.cuenta_id == c.id %}
                        <td>{{c.nom_cuenta}}</td>
                    {% endif %}
                    {% if t.cuenta_id == c.id %}
                    {% if t.tipoMonto_id == 1 %}
                        <td>{{t.monto}}</td>
                        <td></td>
                    {% endif %}
                    {% if t.tipoMonto_id == 2 %}
                        <td></td>
                        <td>{{t.monto}}</td>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td>Utilidad</td>
            {% if haber == 1 %}
                <td></td>
                <td>{{util}}</td>
            {% endif %}
            {% if haber == 2 %}
                <td>{{util}}</td>
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <td>Capital Contable</td>
            {% if haberc == 1 %}
                <td></td>
                <td>{{cap}}</td>
            {% endif %}
            {% if haber == 2 %}
                <td>{{cap}}</td>
                <td></td>
            {% endif %}
        </tr>
    </table>
{% endblock %}