{% extends 'base.html' %}

{% block static %}
    <link rel="stylesheet" href="../static/css/tabla.css">
{% endblock %}

{% block titulo %}
    Catalogo de Cuentas
{% endblock %}

{% block menu %}
  {% include 'menu.html' %}
{% endblock %}
{% block contenido %}

<table>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Tipo Cuenta</th>
        <th>Monto Cargo</th>
        <th>Monto Abono</th>
    </tr>
    {% for c in cuentas %}
        <tr>
            <td>{{c.codigo}}</td>
            <td>{{c.nom_cuenta}}</td>
            {% for t in tipoCuenta %}
                {% if c.tipoCuenta_id == t.id %}
                    <td>{{t.nom_Tipocuenta}}</td>
                {% endif %}
            {% endfor %}
            <td>{{c.montoCargo}}</td>
            <td>{{c.montoAbono}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}