{% extends 'base.html' %}

{% block static %}
    <link rel="stylesheet" href="../static/css/form.css">
{% endblock %}

{% block titulo %}
Eliminar Empleado
{% endblock %}

{% block menu %}
  {% include 'menu.html' %}
{% endblock %}

{% block contenido %}
    <section class="seccion">
        <form action="/eliminar/" method="post">{% csrf_token %}
            <ul>
                <li>
                    <select name="eliminar" id="eliminar" autofocus>
                        <option value="">Seleccionar empleado</option>
                        {% for e in eliminar %}
                            <option value="{{ e.id }}">{{e.nombre}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <input type="submit" value="Eliminar">
                </li>
            </ul>
        </form>
    </section>
{% endblock %}