{% extends 'base.html' %}

{% block static %}
    <link rel="stylesheet" href="../static/css/form.css">
{% endblock %}

{% block titulo %}
    Nueva Transacción 
{% endblock %}

{% block menu %}
  {% include 'menu.html' %}
{% endblock %}

{% block contenido %}
    <section class="seccion">
        <form action="/transaccion/" method="post" autocomplete="on">{% csrf_token %}
            <div class="form">
                <div class="columna" id="0-cuenta">
                    <h3>Cargo</h3>
                    <div class="fila-remove" id="a">
                        <select name="cuenta" id="cuenta" >
                            <option value="0" >Seleccionar cuenta</option>
                            {% for c in cuentas %}
                                <option value="{{ c.id }}">{{c.nom_cuenta}}</option>
                            {% endfor %}
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="number" step="any" name="monto" value="">
                    </div>
                    <div class="fila">
                        <select name="cuenta1" id="cuenta1" autofocus required="required">
                            <option value="0" >Seleccionar cuenta</option>
                            {% for c in cuentas %}
                                <option value="{{ c.id }}">{{c.nom_cuenta}}</option>
                            {% endfor %}
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="number" step="any" name="monto1" value="" required="required" >
                    </div>
                </div>
                <div class="columna" id="1-cuenta">
                   <h3>Abono</h3>
                    <div class="fila">
                        <select name="cuenta2" id="cuenta2" required="required" >
                            <option value="0">Seleccionar cuenta</option>
                            {% for c in cuentas %}
                                <option value="{{ c.id }}">{{c.nom_cuenta}}</option>
                            {% endfor %}
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="number" step="any" name="monto2" value="" required="required">
                    </div>
                </div>
                <p id="plus" class="boton"><img src="https://maxcdn.icons8.com/windows10/PNG/96/Very_Basic/plus-96.png" title="Plus" width="32"></p>
                <p id="less" class="boton"><img src="https://maxcdn.icons8.com/windows10/PNG/32/Very_Basic/minus-32.png" title="Minus" width="32"></p>
                <input type="hidden" value="2" id="counter" name="counter">
                <input type="submit" value="Aceptar">
                <input type="button" value="Cancelar">
            </div>
        </form>
    </section>

{% endblock %}  