{% extends 'base.html' %}

{% block static %}
    <link rel="stylesheet" href="../static/css/tabla.css">
{% endblock %}

{% block menu %}
  {% include 'menu.html' %}
{% endblock %}

{% block contenido %}
  <table border="1">
    <tr>
      <th>Codigo</th>
      <th class="nombre">Nombre</th>
      <th class="nombre">Apellidos</th>
      <th class="cargo">Cargo</th>
      <th>Salario Base</th>
      <th>Horas extra</th>
      <th>Salario Devengado</th>
      <th>ISS</th>
      <th>AFP</th>
      <th>Renta</th>
      <th>Salario a pagar</th>
    </tr>
    {%for e in empleado %}
    <tr id="{{e.id}}">
        <td onclick="obtenerEmpleado({{e.id}})" >{{e.id}}</td>
        <td id="nombre" value="{{ e.nombre }}">{{ e.nombre }}</td>
        <td>{{ e.apellido }}</td>
        {% for p in puesto %}
            {% if p.id == e.puesto_id %}
                <td>{{ p.nom_puesto }}</td>
                <td>{{ p.salBase }}</td>
                <td>{{ e.horasExtras }}</td>      
                <td>{{ p.salDevengado }}</td>
            {% endif %}
        {% endfor %}
        <td>{{e.isss}}</td>
        <td>{{e.afp}}</td>
        <td>{{e.renta}}</td>
        <td>{{e.salDevengado}}</td>
    </tr>
    {% endfor %}
  </table>
<br><br><br>
<form action="" method="POST">{% csrf_token %}
<label>Horas extras:</label>
<input type="number" name="horasExtras" id="horasExtras">
<label>Nombre:</label>
<input type="text" name="nombre" id="nombre">
<label>Codigo:</label>
<input type="text" name="codigo" id="codigo">
<input type="submit" name="aceptar" id="aceptar" value="Aceptar">
</form>
{% endblock %}
