{% extends 'base.html' %}
{% block static %}
<link rel="stylesheet" href="../static/css/form.css">
{% endblock %}

{% block titulo %}
    Registrar Cuenta
{% endblock %}

{% block menu %}
  {% include 'menu.html' %}
{% endblock %}
{% block contenido %}

<form action="/cuenta/" method="post">{% csrf_token %}
<ul>

{{ cuentForm.as_ul }}
    
     <li>  <label>Tipo Cuenta:</label> 
    <select name="Cuenta"> 
  
  <option value="0">Seleccionar</option>
  <option value="1">Activo</option>
  <option value="2">Pasivo</option>
  <option value="3">Capital</option>
  <option value="4">Resultado</option>
</select> </li>

</ul>

<input type="submit" name="submit" value="Registrar">
</form>
{% endblock %}